body, html {
    margin:0; padding: 0;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    font-size: 14px;
    color:#333;
}
.small { font-size: 12px; }
*, *:after, *:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
